{% extends 'base.html' %}

{% block content %}
    {% set show_img = False %}
    {#
    {% set w = 600 %}
    {% set h = 338 %}
#}

    {% set w = 1000 %}
    {% set h = 563 %}

    {#
    {% set w = 1280  %}
    {% set h = 720 %}
 #}
    <style>
        .image-container {
            position: relative; /* Important for absolute positioning */
        }

        .overlay-image {
            position: absolute;
            top: 0; /* NEED TO SET THIS BASED ON TARGET TOP-LEFT */
            left: 0; /* NEED TO SET THIS BASED ON TARGET TOP-LEFT */
            z-index: 100; /* Ensure overlay is on top */
        }

        /*  Option would be to create a canvas with the background image, then draw on top of that */
        .image-container-alt {
            position: relative;
            width: {% print(w) %}px; /* Adjust as needed */
            height: {% print(h) %}px; /* Adjust as needed */
            background-image: url("/stream");
            background-position: left top; /* Positions for each image */
            background-size: {% print(w) %}px {% print(h) %}px;
            background-repeat: no-repeat, no-repeat;
            border: 1px #ffcc00;
        }
    </style>

    <div>
        <div style="float:left;margin-right:20px;">
            <h1>Demonstration</h1>
            <p>
                This demo shows 2 methods for displaying MJPEG from RTSP stream.
            </p>
            <div>
                <strong><small>NOTE: Refresh page after start or stop</small></strong>
            </div>
        </div>
        <img style="float:right;" src="/static/rtsp-to-web-logo-official.png" width="200" height="200"/>
        <div style="clear:both"></div>
        <div>
            Stream operations: <a href="#" onclick="start()">Start</a> | <a href="#" onclick="stop()">Stop</a>
        </div>

    </div>

    {% if show_img == True %}
        <h2>Canvas over IMG tag</h2>

        <div class="image-container">
            <img src="/stream" alt="Stream" width="{% print(w) %}" height="{% print(h) %}" class="background-image"/>
            <canvas id="canvas" width="{% print(w) %}" height="{% print(h) %}" class="overlay-image"></canvas>
        </div>
    {% endif %}
    <!-- Setup the case where the RTSP feed is behind the Canvas so the feed can be "attributed" -->
    <h2>Canvas Only</h2>

    <div class="image-container-alt">
        <canvas id="canvas-alt" width="{% print(w) %}" height="{% print(h) %}" class="overlay-image"></canvas>
    </div>

    <script>
        function start() {
            const Http = new XMLHttpRequest();
            const url = '/start';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                console.log(Http.responseText)
            }
        }

        function stop() {
            const Http = new XMLHttpRequest();
            const url = '/stop';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                console.log(Http.responseText)
            }
        }

        function extractFrame(source) {
            // TODO: Make this work in a demo...functionality is there, but need to hook it up
            let img = document.getElementById(source).style.backgroundImage;
            document.getElementById("demo").innerHTML = img;
        }

        function drawFullBorder(color, context, xPos, yPos, width, height, thickness = 1) {
            context.fillStyle = color;
            context.fillRect(xPos - (thickness), yPos - (thickness), width + (thickness * 2), height + (thickness * 2));
        }

        function drawBorder(context, xPos, yPos, width, height, thickness = 1) {
            context.strokeStyle = 'red';
            context.lineWidth = thickness;
            context.strokeRect(xPos, yPos, width, height);
        }

        function getRandomInt(min, max) {
            const minCeiled = Math.ceil(min);
            const maxFloored = Math.floor(max);
            let random = Math.random();
            return Math.floor(random * (maxFloored - minCeiled) + minCeiled);
        }

        {% if show_img == True %}
            // simulate a box over the feed. Only produce this if the show_image (top of page) is true
            const canvas = document.getElementById("canvas");
            const ctx = canvas.getContext("2d");

            // Transparency
            ctx.globalAlpha = 0.3;

            drawFullBorder("#00cc00", ctx, 50, 150, 150, 70);
            ctx.beginPath();
            drawBorder(ctx, 375, 100, 150, 80, 5);
        {% endif %}

        function canvasRectangles(ctx2, color, canvas_width, canvas_height) {
            ctx2.clearRect(0, 0, canvas_width, canvas_height);

            let width_left = getRandomInt(0, (canvas_width * 3) / 4); // don't start more than 3/4 of canvas
            let width = getRandomInt(20, width_left);
            let height_top = getRandomInt(0, (canvas_height * 3) / 4);
            let height = getRandomInt(20, height_top);

            drawFullBorder(color, ctx2, width_left, height_top, width, height);
        }

        // simulate a box over the feed
        const canvas2 = document.getElementById("canvas-alt");
        const ctx2 = canvas2.getContext("2d");

        // Transparency
        ctx2.globalAlpha = 0.3;

        let canvas_width = canvas2.width;
        let canvas_height = canvas2.height;
        console.log("width: " + canvas_width + ", height: " + canvas_height);

        colors = [
            "#00cc00",
            "#aa0011",
            "#9900ff",
            "#1ac4ff",
            "#333"
        ]

        const simulatedBoundingBoxeIterations = 0;
        for (let i = 0; i < simulatedBoundingBoxeIterations; i++) {
            const color_index = getRandomInt(0, colors.length);

            setTimeout(
                function () {
                    canvasRectangles(ctx2, colors[color_index], canvas_width, canvas_height)
                }
                , 1000 * i); // one a second
        }

    </script>


{% endblock %}





